.container{
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
    background-color: hsl(0,100%,50%) ;
    width: 80%;
    margin: auto;
}

.elements
{
    text-align: center;
     color: white;
}
.element{
    font-size: 30px;
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    transition: transform 0.6s;

}
.element.current{
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.6s;

    
}
.total{
    background-image: linear-gradient(to right, #895cf2 0%, #abffbd 50%, #895cf2 100%);
}

.logo{
  
}
.logo p{
    font-size: 20px;
    color: rgb(240, 240, 240);  
    /* background-color: orange; */
}
.element img{
    height: 150px;
    border-radius: 70px;
    background: rgb(255, 255, 255);
}
.element h2{
    font-size: 30px;
    color: #abffbd;
}
.element h4{
    font-size: 20px;
    color: #00043f;
}
.element li{
    font-size: 20px;
}
.icon{
    font-size: 30px;
    float: right;

}
.icon a{
    text-decoration: none;
}
.icon i{
    color: black ;
}


